*{
	border:0;
	margin:0;
	padding:0;
}
a{
	color: #6D1A42;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
body{
	background-color: #DDDDE2;
	color: #676767;
	font-family: 'Open Sans', sans-serif;
}
iframe{
	height: 600px;
	margin: 0 auto;
}
iframe, img{
	width: 100%;
}

#footer{
	background-color: #DDDDE2;
	border-top: 1px solid #b4b4b8;
	padding: 15px 0;
	text-align: center;
}
#footer, #header, #section{
	display: block;
	width: 100%;
}
#footer span{
	display: block;
	margin: 0 auto;
}
#header{
	background-color: #6D1A42;
}
label, input, select, textarea {
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
}
li{
	display: inline-block;
}
input[type="email"], input[type="password"], input[type="text"], select{
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	color: #7D7D7D;
	height: 30px;
	max-width: 550px;
	min-width: 50px;
	min-height: 30px;
	outline: none;
	padding: 0.125em 1.5%;	
	width: 97%;
}
input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus{
	border: 1px solid #52bad5;
	box-shadow: 0 0 5px #52bad5;
	-ms-box-shadow: 0 0 5px #52bad5;
	-webkit-box-shadow: 0 0 5px #52bad5;
	-moz-box-shadow: 0 0 5px #52bad5;
	-o-box-shadow: 0 0 5px #52bad5;
	color: #474747;
}
select{
    -webkit-appearance: none;
    background: #FFFFFF url(../img/dropdown.png) no-repeat right;
    cursor: pointer;
    max-width: 520px;
    padding-right: 30px;
    width: 100%;
}
ul{
	display: block;
	list-style: none;
}

/*
 * Definiciòn de identificadores.
 */
#wapper{
	max-height: 100%;
	max-width: 100%;
}
#container{
	background-color: #F9F9F9;
	position: relative;
}
#error{
	position: relative;
	min-height: 50%;
	width: 100%;
}
#header-top{
	height: 70px;
}
#login, #restore{
	margin: 10% auto;
	width: 45%;
}
#nav-container{
	background: #F2F2F2;
	border: 1px solid #C9C9C9;
	height: 32px;
}
#nav-movile{
	background-color: #F2F2F2;
	border: 1px solid #C9C9C9;
	border-right-width: 0;
	bottom: 0;
	padding-top: 1em;
	position: absolute;
	right: -40%;
	top: 0;
	width: 40%;
	z-index: 1000;
}
#movile-menu{
	display: none;
}
#pc-menu{
	display: block;
}
#register{
	margin: 5% auto;
	width: 45%;
}
#social-menu{
	margin-left: 10px;
}

/*
 * Definiciòn de clases.
 */
.app-content{
	background-color: #F9F9F9;
}
.button-ipn{
	background: #6D1A42;
	border: 1px solid #C9C9C9;
	border-radius: 5px; 
	box-shadow:  -1px 0px 5px rgba(85, 85, 85, 0.75);
	-ms-box-shadow:  -1px 0px 5px rgba(85, 85, 85, 0.75);
	-webkit-box-shadow: -1px 0px 5px rgba(85, 85, 85, 0.75);
	-moz-box-shadow: -1px 0px 5px rgba(85, 85, 85, 0.75);
	-o-box-shadow:  -1px 0px 5px rgba(85, 85, 85, 0.75);
	color: #F7F7F7;
	cursor: pointer;
	line-height: 24px;
	padding: 6px 1em;
	min-width: 120px;
}
.button-ipn:hover{
	/*
	background-color: #DDDDE2;
	color: #474747;
	background-color: #474747;
	*/
	background-color: #8c2153;
}
.ease{
	transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
}
.error-img{
	margin: 8% auto;
	width: 84%;
}
.facebook{
	background-image: url(../img/facebook.png);
}
.facebook:hover{
	background-image: url(../img/facebook-hover.png);
}
.facebook, .google, .twitter, .youtube{
	display: block;
	height: 32px;
	width: 32px;
}
.form-contact{
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow:  -1px 0px 15px rgba(85, 85, 85, 0.75);
	-ms-box-shadow:  -1px 0px 15px rgba(85, 85, 85, 0.75);
	-webkit-box-shadow: -1px 0px 15px rgba(85, 85, 85, 0.75);
	-moz-box-shadow: -1px 0px 15px rgba(85, 85, 85, 0.75);
	-o-box-shadow:  -1px 0px 15px rgba(85, 85, 85, 0.75);
	display: block;
}
.form-contact legend{
	font-size: 2em;
	padding-top: 0.5em;
}
.form-contact fieldset{
	margin: 0.5em auto;
	width: 90%;
}
.google{
	background-image: url(../img/google.png);
}
.google:hover{
	background-image: url(../img/google-hover.png);
}
.item-nav{
	border-left: 1px solid #C9C9C9;
	border-bottom: 3px solid transparent;
	color: #474747;
	display: block;
	height: 29px;
	line-height: 29px;
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
}
.item-nav:hover{
	border-bottom-color: #FF9933;
	text-decoration: none;
}
.item-movile{
	display: block;
}
.item-movile a{
	border: 1px solid #C9C9C9;
	border-left: 5px solid transparent;
	border-right-width: 0;
	color: #6D6D6D;
	display: block;
	padding: 0.5em 1em;
	text-align: left;
	text-decoration: none;
}
.item-movile a:hover{
	border-left-color: #FF9933;
	box-shadow: inset -1px 0px 5px #C9C9C9;
	color: #474747;
}
.left{
	float: left;
}
.legend{
	position: absolute;
	right: 60px;
	text-align: right;
	top: 17.5px;
}
.legend a{
	color: #F9F9F9;
	text-decoration: none;
}
.legend span{
	display: block;
	font-size: 12px;
}
.line-form, .inline-form{
	padding: 0.5em 0;
}
.inline-form *{	
	display: inline-block;
	vertical-align: middle;
}
.inline-form label, .line-form label{
	cursor: pointer;
}
.line-form, .line-form label, .line-form input{
	display: block;
}
.line-form label{
	display: inline-block;
	padding: 10px 0;
}
.logo-ipn{
	background-image: url(../img/logo-ipn.png);
	height: 62px;
	right: 10px;
	top: 2.5px;
	width: 40px;
}
.logo-ipn, .logo-report{
	background-repeat: no-repeat;
	display: block;
	position: absolute;
}
.logo-report{
	background-image: url(../img/logo-report.png);
	height: 40px;
	top: 15px;
	width: 280px;
}
.nav-icon{
	background: url(../img/nav-icon.png) 8.5px 8px no-repeat;
	background-size: 16px 16px;
	display:inline-block;
	vertical-align: middle;
}
.message{
	color: #474747;
	display: block;
	padding: 0.5em 1em;
}
.panel{
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}
.right{
	float: right;
}
.sub-line{
	display: block;
	height: 18px;
	padding: 0.5em 0;
	width: 100%;
}
.sub-line label, .sub-line a{
	padding: 0;
}
.twitter{
	background-image: url(../img/twitter.png);
}
.twitter:hover{
	background-image: url(../img/twitter-hover.png);
}
.youtube{
	background-image: url(../img/youtube.png);
}
.youtube:hover{
	background-image: url(../img/youtube-hover.png);
}

/*
 * Media queries
 */

@media screen and (min-width:1024px){
	#login, #restore, #restore{
		width: 40%;
	}
	#nav-movile{
		right: -40%;
		width: 40%;
	}
	#register{
		width: 45%;
	}
	.error-img{
		width: 84%;
	}
}

@media screen and (max-width:1023px) and (min-width:768px){
	#login, #restore{
		width: 50%;
	}
	#nav-movile{
		right: -40%;
		width: 40%;
	}
	#register{
		width: 50%;
	}
	.error-img{
		width: 90%;
	}	
}

@media screen and (max-width:767px) and (min-width:600px){
	#login, #restore{
		width: 60%;
	}
	#nav-movile{
		right: -40%;
		width: 40%;
	}
	#movile-menu{
		display: block;
	}
	#pc-menu{
		display: none;
	}
	#register{
		width: 60%;
	}
	.error-img{
		width: 94%;
	}
}

@media screen and (max-width:599px) and (min-width:481px) {
	#login, #restore{
		width: 70%;
	}
	#header-top{
		display: none;
	}
	#nav-movile{
		right: -40%;
		width: 40%;
	}
	#movile-menu{
		display: block;
	}
	#pc-menu{
		display: none;
	}
	#register{
		width: 70%;
	}	
	.error-img{
		width: 100%;
	}
	.message-user{
		top: 32px;
	}
}

@media screen and (max-width:480px) and (min-width :361px) {
	footer h6{
		font-size: 10px;
	}
	#login, #restore{
		width: 85%;
	}
	#header-top{
		display: none;
	}
	#nav-movile{
		right: -50%;
		width: 50%;
	}
	#movile-menu{
		display: block;
	}
	#pc-menu{
		display: none;
	}
	#register{
		width: 80%;
	}	
	.error-img{
		width: 100%;
	}
	.message-user{
		top: 32px;
	}
}

@media screen and (max-width: 360px){
	footer h6{
		font-size: 8.5px;
	}
	#login, #restore{
		width: 95%;
	}
	#login a{
		display: none;
	}
	#header-top{
		display: none;
	}
	#nav-movile{
		right: -100%;
		width: 100%;
	}
	#movile-menu{
		display: block;
	}
	#pc-menu{
		display: none;
	}
	#register{
		width: 95%;
	}
	.error-img{
		width: 100%;
	}
	.message-user{
		top: 32px;
	}
}

@media screen and (max-height: 1000px){
	
}

@media screen and (max-height: 800px){
	
}

@media screen and (max-height: 600px) and (min-height: 400px){
	
}

@media screen and (max-height: 400px) and (min-height: 200px){
	}

/*

@media screen and (min-width:1024px){
	
}

@media screen and (max-width:1023px) and (min-width:768px){
	
}

@media screen and (max-width:767px) and (min-width:600px){
	
}

@media screen and (max-width:599px) and (min-width:481px) {
	
}

@media screen and (max-width:480px) and (min-width :391px) {
	
}

@media screen and (max-width: 390px){
	
}


 */