*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
label, input, select, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
}
input[type="email"], input[type="search"], input[type="password"], input[type="text"], select{
	background: #F9F9F9;
	border: 2px solid #c8c8c8;
	border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	max-width: 550px;
	min-width: 50px;
	min-height: 32px;
	padding: 1px 5px;
	width: 100%;
}
input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, input[type="text"]:focus, select:focus{
	background-color: #FFFFFF;
	border: 2px solid #52bad5;
	box-shadow: 0 0 5px #52bad5;
	-ms-box-shadow: 0 0 5px #52bad5;
	-webkit-box-shadow: 0 0 5px #52bad5;
	-moz-box-shadow: 0 0 5px #52bad5;
	-o-box-shadow: 0 0 5px #52bad5;
	outline: none;
}
img{
	width: 100%;
}
select{
    -webkit-appearance: none;
    background: #FFFFFF url(../img/dropdown.png) no-repeat right;
    cursor: pointer;
    max-width: 520px;
    padding-right: 30px;
}
option{
	padding-left: 5px; 
}
#menu-table{
	background: #f9f9f9;
	border: 1px solid #DDDDDD;
	box-shadow: 1px 1px 10px #c0c0c0;
	display: none;
	position: absolute;
	width: 200px;
	z-index: 1000;
}
#menu-table ul{
	display: block;
	list-style: none;
}
#menu-table ul li{
	border-bottom: 1px solid #DDDDDD;
	cursor: pointer;
	display: block;
	padding: .5em 0;
	text-align: center;
}
#menu-table ul li:hover{
	background: #444;	
	color: #fff;
}
#options-container{
	height: 100%;
	overflow: auto;
	position: absolute;
	width: 100%;
}
#panel-buttons{
	text-align: center;
}
#panel-controls, #panel-nav, #panel-pagination, #panel-table{
	display: block;
	max-width: 100%;
}
#panel-nav{
	background: #464646;
	border-left: 3px solid #FF9933;
	bottom: 0;
	box-shadow: 1px 1px 10px #444;
	-ms-box-shadow: 1px 1px 10px #444;
	-webkit-box-shadow: 1px 1px 10px #444;
	-moz-box-shadow: 1px 1px 10px #444;
	-o-box-shadow: 1px 1px 10px #444;
	right: -30%;
	top: 0;
	width: 30%;
	z-index: 1000;
}
#panel-nav, #panel-pagination, #panel-table{
	position: absolute;
}
#panel-pagination, #panel-table{
	left: 1%;
	right: 2%;
}
#panel-pagination{
	bottom: 2%;
}
#panel-table{
	border: 1px solid #DDDDDD;
	bottom: 60px;
	overflow: auto;
	top: 60px;
}
#panel-table table{
	background: #F9F9F9;
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
	color: #73635e;
	width: 100%;
}
#panel-form{
	overflow: auto;
}
#select-page, #select-rows, #select-table{
	display: inline-block;
	width: auto;
}
#search-table{
	position: absolute;
	right: 2%;
	width:  auto;
}
.arrow{
	background-image: url(../img/arrow.png);
	background-size: 16px 16px;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 0 2px;
	width: 16px;
	vertical-align: middle;
}
.arrow:hover{
	border: 1px solid #ddd;
}
.button{
	background: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	color: #F9F9F9;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	height: 32px;
	margin: 0.5em 5px;
	outline: none;
	width: 32px;
}
.button:hover{
	border: 1px solid #4398f2;
	box-shadow: 1px 1px 10px #4398f2;
	-ms-box-shadow: 1px 1px 10px #4398f2;
	-webkit-box-shadow: 1px 1px 10px #4398f2;
	-moz-box-shadow: 1px 1px 10px #4398f2;
	-o-box-shadow: 1px 1px 10px #4398f2;
	-webkit-transform: scale(1.2);
}
.button-menu{
	background-color: #444;
	border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;	
	border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	cursor: pointer;
	left: -32px;
	height: 32px;
	position: absolute;
	opacity: 0;
	top: 7px;
	width: 32px;
}
.button-menu:hover{
	opacity: 1;
}
.button-update{
	background: url(../img/update.png) no-repeat;
	background-size: 32px 32px;
	border-radius: 16px;
	-ms-border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-o-border-radius: 16px;
	cursor: pointer;
	display: inline-block;
	height: 32px;
	margin: 0 1em;
	outline: none;
	width: 32px;
	vertical-align: middle;
}
.button-update:hover{
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}
.delete{
	background-image: url(../img/delete.png);
}
.insert{
	background-image: url(../img/insert.png);
}
.delete, .insert, .update, .nav-icon, .menu-nav{
	background-position: 6px 6px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}
.inline-form{
	padding: 0.5em;
}
.inline-form label{
	color: #464646;
	cursor: pointer;
	display: block;
	padding-bottom: 0.5em;
}
.inline-form input{
	min-height: 24px;
	width: 90%;
}
.inline-select, .inline-select label, .inline-select select{
	display: inline-block;
	width: auto;
}
.inline-select, .inline-select label{
	padding-right: 10px;
}
.menu-nav{
	background-image: url(../img/nav-icon.png);
	background-position: 5px 6px;
}
.nav-icon{
	background: url(../img/config.png) 9px 9px no-repeat;
	cursor: pointer;
	display: block;
	height: 50px;
	left: -50px;
	position: absolute;
	top: 1%;
	opacity: 0;
	width: 50px;
}
.nav-icon:hover{
	background-color: #444444;
	opacity: 1;
}
.ease{
	transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;				
}
.not-row{
	text-align: center;
}
.table-ui{
	background: #F9F9F9;
	border: 1px solid #DDDDDD;
	display: block;
	min-height: 400px;
	padding: 1%;
	overflow: hidden;
	max-width: 101%;
}
.table-ui label{
	cursor: pointer;
}
.tbody-tr{
	cursor: pointer;
}
.tbody-tr:active{
	background-color: #0091c4;
	color: #F9F9F9;
}
.tbody-tr:nth-child(odd){
	background: #EBEBEB;
}
.tbody-tr:nth-child(even){
	background: #f9f9f9;
}
.tbody-tr:hover{
	background: rgba(172,4,6,0.7);
	color: #f9f9f9;
}
.tbody-tr-td, .tfoot-tr-td{
	padding: .25em .5em;	
}
.tbody-tr-td, .tfoot-tr-td,.thead-tr-th{
	border: 1px solid #DDDDDD;	
}
.thead-tr-th{
	background-color: #FFFFFF;
	min-width: 250px;
	padding: .4em 1em;
}
.sub-nav{
	bottom: 0;
	left: 0;	
	position: absolute;
	overflow: auto;
	right: 0;
	top: 0;
}
.update{
	background-image: url(../img/pencil.png);
}
@media screen and (min-width:1024px){
	#panel-nav{
		right: -30%;
		width: 30%;
	}
}
@media screen and (max-width:1023px) and (min-width:768px){
	#panel-nav{
		right: -35%;
		width: 35%;
	}
}
@media screen and (max-width:767px) and (min-width:600px){
	#panel-nav{
		right: -45%;
		width: 45%;
	}
}
@media screen and (max-width:599px) and (min-width:481px) {
	#panel-nav{
		right: -60%;
		width: 60%;
	}	
}
@media screen and (max-width:480px) and (min-width :391px) {
	#panel-nav{
		right: -65%;
		width: 65%;
	}	
}
@media screen and (max-width: 390px){
	#panel-nav{
		right: -100%;
		width: 100%;
	}
}